<form [formGroup]="contactForm">
  <!-- (ngSubmit)="onSubmit()" -->
  <label>
    First Name:
    <input type="text" formControlName="firstName" />
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName" />
  </label>

  <label>
    Address
    <input type="text" formControlName="address" />
  </label>

  <label>
    Email:
    <input type="text" formControlName="email" />
  </label>

  <label>
    Phone Number:
    <input type="text" formControlName="phoneNumber" />
  </label>

  <button type="submit" (click)="onSubmit()">Submit</button>
</form>

<section></section>

<pre> {{ contactForm.value | json }}</pre>
<router-outlet></router-outlet>
